 {% extends "base.html" %}
 
 {% block report%}
 <div class = "row justify-content-md-center align-items-center" style="height: 39em;">
    <div class = "col-md-4 text-center border-primary">
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group date">
        {{form.store}}
        <div class="input-group" id="datetimepicker1" data-target-input="nearest">
          {{form.start_date}}
           <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          {{form.end_date}}
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
   <button type="submit" class="btn btn-success" onclick="return foo();">Report</button>


   {% if table %}
       {% if table.0 and table.1 %}
        <h2>Зріз c {{table.0}} по {{table.1}}</h2>
    {% elif not table.0 and table.1 %}
         <h2>Зріз до {{table.1}}</h2>
    {% else %}
        <h2>Зріз до {% now "d/m/Y" %}</h2>
    {% endif %}
   <table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Назва</th>
      <th scope="col">Партия</th>
      <th scope="col">Кількість</th>
    </tr>
  </thead>
  <tbody>
    {% for row in table.2 %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td class = "text-left">{{row.0}}</td>
      <td class = "text-left">{{row.1}}</td>
      <td class = "text-left">{{row.2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
   {% endif%}
  </form>
    </div>
 </div>
  <script>
    function foo(){
      if( $('[name="store"]').val() != "")
        $(".modal").modal('show')
  }
 </script>
      <script>
  $(function () {
    $('#datetimepicker1').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
    $("#datetimepicker1").on("change.datetimepicker", function (e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
    $("#datetimepicker2").on("change.datetimepicker", function (e) {
        $('#datetimepicker1').datetimepicker('maxDate', e.date);
    });

    $("#defaultCheck1").change(function(){
        console.log("#defaultCheck1")
        if ($("#defaultCheck1").prop('checked')){
          $("#{{form.end_date.id_for_label}}").removeAttr("disabled")
        }else{
          $("#{{form.end_date.id_for_label}}").attr( "disabled","true")
          $('#datetimepicker2').data("")
        }
    })

  });
</script>
 {% endblock %}